
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
/* Narrow font */ 


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap'); /* Bold Font */


.html,
body {
    overflow-x: hidden;
    height: 100%;
    font-family: "Lato", sans-serif;
}


.bg {
    background: #ffffff; 
    background-repeat: no-repeat; /* prevents baclground from moving as it filters */
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

.top {
    overflow: hidden;  /* removes the white space on top of the page */
    background-color: rgba(255, 255, 255,1);
    border-bottom: 3px solid #0a5bb2;
    padding-top: .1vw;
    padding-bottom: .1vw;
}
    
.topWords {
    /* border: 3px solid red; */
    width: 60vw;
    float: left;
    margin-left: 15vw;
    margin-top: .5vw;
}

.logo{
    width: 13%;
    margin: 2vw;
    display: flex;
    overflow: hidden;
}

.top h1 {
    width: 100%;
    font-size: 3vw;
    text-align: center;
    color: #fb3e09;
    font-family: 'Roboto Condensed', sans-serif;
}

.top h2 {
    width: 100%;
    font-size: 2vw;
    text-align: center;
    color: #0a5bb2;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -.08vw;
    font-weight: 100;
}

.top h3 {
    width: 100%;
    font-size: 1.5vw;
    text-align: center;
    /* border: 3px solid red; */
    color: #0a5bb2;
    font-family: 'Roboto Condensed', sans-serif;
}

.wrapper {
  max-width: 80vw;
  background: #eee;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
  padding: 3vw;
  transition: all ease 500ms;
}


input {
    border: 0; /* removes default input border */
  border-radius: .5vw;
  width: 80vw;   /* this moves things */
  font-size: 150%;
  /* background: #0a5bb2; */
  margin-top: 3vw;
  transition: all ease 250ms;
  outline: 0;
  font-weight: 900;
    margin-left: auto;
    margin-right: auto;
  display: flex; 
  justify-content: center; 
  align-items: center; 
    padding: .5vw;
-webkit-box-shadow: 0px 0px 0 .7vw rgba(228, 228, 228); 
box-shadow: 0 0 0 .7vw rgba(228, 228, 228);
    
}

.dropdowns {
    /* border:3px solid red; */
    margin: 2%;
    position: relative;
    margin-bottom: 7%; /* moves the table down from the dropdowns */
    
}
#specializationsDropdown {
    position: absolute; /* this and z-index make the menu stay over the table when active */
    z-index: 1;
    margin-left: 32%;
    background-color: #ffffff;
    border-radius: .5vw;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 15vw;
        -webkit-box-shadow: 0px 0px 1vw -.1vw #000000; 
box-shadow: 0px 0px 1vw -.1vw #000000;
    padding: .35vw;

}

#citiesDropdown {
    position: absolute;
    z-index: 1;
    margin-left: 77%;
    background-color: #ffffff;
    border-radius: .5vw;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 10vw;
    -webkit-box-shadow: 0px 0px 1vw -.1vw #000000; 
box-shadow: 0px 0px 1vw -.1vw #000000;
    padding: .35vw;
}


 *:focus {  /* This removes the blue border from focus items, such as an active dropdown list */
   outline: 0;
 }


select > option:hover {
background-color: rgba(207, 207, 207, 0.6)!important;

}

/* select > option {
    background-color: #ffffff !important;
/* border:3px solid red; */
  /*  color: #000000!important;
} */

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-collapse: separate;
    border:solid black 1px;
    border-spacing: 0; /* removed the white space between cells */
    border-radius:1vw;
    -moz-border-radius:1vw;
    width: 80vw;
    table-layout: fixed;  /* Keeps the table the same width */
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
    
}

.header {
    background-color: #0a5bb2;
    color: #ffffff;
    padding: 1vw;
    font-size: 1.3em;
    border-top: none;
}












td:first-child, th:first-child {
     border-left: none;
}
th:first-child {
            border-top-left-radius:.9vw;
}

th:last-child {
        border-top-right-radius:.9vw;
}

td {
    padding: 1.2vw;
    text-align: center;
    margin-left: 1vw;
    font-family: "verdana", serif;
    font-size: 1em;
}

th {
    pointer-events: none;
    position: sticky;
    top: 0;
}

tr:nth-child(even) {
    background-color: rgba(0,0,255,0);/*#F7F7F7*/;
    opacity: 1;
}
tr:nth-child(odd) {
    background-color: rgba(0,0,255,0);/*#E0E0E0*/;
    opacity: 1;
}

tr:hover {
    background-color: rgba(207, 207, 207,0.15);
    color: #17b03b;
}


/* hide the boder from the sticky top ****************************/
.hideCorners {
    background-color: red;
    width: 100vw;
    z-index: 2;
}






/* Smaller Screens ********************************/
@media screen and (max-width: 700px) {


    

#specializationsDropdown {
    font-size: 2vw;
}

#citiesDropdown {
    font-size: 2vw;
}
    
div.dropdown-menu.open{
    max-height: 1vw !important;
    overflow: hidden;
}
ul.dropdown-menu.inner{
    max-height: 1vw !important;
    overflow-y: auto;
}
    
.header {
    background-color: #4A4A4A;
    color: #FFFFFF;
    padding: 1vw;
    font-size: .5em;
    background-color: rgba(207, 207, 207, 0.6);/*#F7F7F7*/;
    border: 1px solid black;
}

td {
    font-size: .5em;
    text-align: left;
    padding-left: 3vw;
    padding-top: 1vw;
}
    
    
}

