
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
/* Narrow font */ 


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap'); /* Bold Font */


.html,
body {
    overflow-x: hidden;
    height: 100%;
    font-family: "Lato", sans-serif;
}


.bg {
    background: #ffffff; 
    background-repeat: no-repeat; /* prevents baclground from moving as it filters */
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

.top {
    overflow: hidden;  /* removes the white space on top of the page */
    background-color: rgba(255, 255, 255,1);
    border-bottom: 3px solid #0a5bb2;
    padding-top: .1vw;
    padding-bottom: .1vw;
}
    
.topWords {
    /* border: 3px solid red; */
    float: left;
    margin-left: 25vw;
    margin-top: .5vw;
    align-content: left;
}

.logo{
    width: 13%;
    padding: 2vw;
    margin-right: 10vw;
    display: flex;
}

.top h1 {
    font-size: 3vw;
    color: #fb3e09;
    font-family: 'Roboto Condensed', sans-serif;
}

.top h2 {
    font-size: 2vw;
    color: #0a5bb2;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -.08vw;
    font-weight: 100;
}

.top h3 {
    font-size: 1.5vw;
    /* border: 3px solid red; */
    color: #0a5bb2;
    font-family: 'Roboto Condensed', sans-serif;
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 2vw; /* Place the button at the bottom of the page */
  right: 2vw; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #17b03b; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1.5%; /* Some padding */
  border-radius: 1vw; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  width: 6%;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.topSearch {
    border: 1px solid rgba(255, 255, 255, 0); /*This makes the white BG spread to all parts*/
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 100;
}

input {
    border: 0; /* removes default input border */
    border-radius: .5vw;
    width: 50vw;   /* this moves things */
    font-size: 150%;
  /* background: #0a5bb2; */
    margin-top: 3vw;
    outline: 0;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    padding: .5vw;
-webkit-box-shadow: 0px 0px 0 .7vw rgba(228, 228, 228); 
box-shadow: 0 0 0 .7vw rgba(228, 228, 228); 
}

.dropdowns {
    /* border:3px solid red; */
    margin: 2%;
    margin-bottom: 7%; /* moves the table down from the dropdowns */
}
#specializationsDropdown {
    position: absolute; /* this and z-index make the menu stay over the table when active */
    z-index: 1;
    margin-left: 31%;
    border-radius: .5vw;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 15vw;
        -webkit-box-shadow: 0px 0px 1vw -.1vw #000000; 
box-shadow: 0px 0px 1vw -.1vw #000000;
    padding: .35vw;
z-index: 100;
}

#citiesDropdown {
    position: absolute;
    z-index: 1;
    margin-left: 73%;
    border-radius: .5vw;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 10vw;
    -webkit-box-shadow: 0px 0px 1vw -.1vw #000000; 
box-shadow: 0px 0px 1vw -.1vw #000000;
    padding: .35vw;
}

 *:focus {  /* This removes the blue border from focus items, such as an active dropdown list */
   outline: 0;
 }


/* Hover color within dropdown menus *************************************************/
select > option:hover {
background-color: rgba(207, 207, 207, 0.6)!important;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
 /*   border-collapse: separate; */
    border:solid black 1px;
    border-spacing: 0; /* removed the white space between cells */
    border-radius:1vw;
    -moz-border-radius:1vw;
    width: 80vw;
    table-layout: fixed;  /* Keeps the table the same width */
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}














td:first-child, th:first-child {
     border-left: none;
}
th:first-child {
            border-top-left-radius:.9vw;
}

th:last-child {
        border-top-right-radius:.9vw;
}

td {
    padding: 1.2vw;
    text-align: center;
    margin-left: 1vw;
    font-family: "verdana", serif;
    font-size: 1em;
}

th {
    pointer-events: none;
    position: sticky;
    top: 0%;
    background-color: #0a5bb2;
    color: #ffffff;
    padding: 1vw;
    font-size: 1.3em;
    border-top: none;
   /* z-index: -1; */
}


/* Color for every other row ********************************/
tr:nth-child(even) {
    background-color: rgba(92, 131, 178,.05);/*#F7F7F7*/;
    opacity: 1;
}
tr:nth-child(odd) {
    background-color: rgba(0,0,255,0);/*#E0E0E0*/;
    opacity: 1;
}

/* The Hover Color ******************************************/
tr:hover {
    background-color: rgba(207, 207, 207,0.4);
    color: #17b03b;
}









/* Smaller Screens ********************************/
@media screen and (max-width: 700px) {

.topWords {
    /* border: 3px solid red; */
    float: left;
    margin-left: 8vw;
    margin-top: .5vw;
    margin-right: 5vw;
}
    
.top {
    overflow: hidden;  /* removes the white space on top of the page */
    background-color: rgba(255, 255, 255,1);
    border-bottom: 3px solid #0a5bb2;
    padding-top: .1vw;
    padding-bottom: .1vw;
}
    
.logo{
    width: 18%;
    margin: 2vw;
    margin-top: 2%;
}

.top h1 {
    font-size: 4.8vw;
    margin-bottom: -.5vw;
    margin-top: 5vw;
}

.top h2 {
    font-size: 2.9vw;
}

.top h3 {
    font-size: 2.5vw;
}
    
    
 table {
    width: 95vw;
}   
    
input {
border: rgba(255, 255, 255,1);
}    
    
    
    

#specializationsDropdown {
    font-size: 2vw;
    width: 25vw;
    margin-left: 25%;
}

#citiesDropdown {
    font-size: 2vw;
    width: 20vw;
}
    
div.dropdown-menu.open{
    max-height: 1vw !important;
    overflow: hidden;
}
ul.dropdown-menu.inner{
    max-height: 1vw !important;
    overflow-y: auto;
}
    
.header {
    background-color: #4A4A4A;
    color: #FFFFFF;
    padding: 1vw;
    font-size: .5em;
    border: 1px solid black;
}

td {
    font-size: .7em;
    font-weight: bold;
    text-align: left;
    padding-left: 3vw;
    padding-top: 1vw;
}
    
    
}

